.footer {
    background-color: #ECECEC;
    padding: 1rem;
    padding-top: 3rem;
    display: flex;
    border-radius: 20px;
    margin-inline: 2rem;
    color: #0B3C2F;
    margin-bottom: 1rem;
}

.footerleftcontent {
    display: flex;
    flex-direction: column;
}

.address {
    display: flex;
    flex-direction: column;
}

.location,.email,.phone{
    display: flex;
}